{% if adr_table and machine_code %}
    <div class="fileInput col-md-12">
        <h2>Input File Content</h2>
        <pre>{{ file_content }}</pre>
    </div>
    <div class="symTable col-md-12">
        <h2>Address Symbol Table</h2>
        <div class="table-responsive">
          <table class='table table-bordered'>
              <thead>
                  <tr>
                      <th>
                          Memory Word
                      </th>
                      <th>
                          Symbol or (LC)
                      </th>
                      <th>
                          Hex Code
                      </th>
                      <th>
                          Binary Represenation
                      </th>
                  </tr>
              </thead>
              <tbody>
                  {% for elem in adr_table %}
                      <tr>
                          <td>
                              {{ elem.0 }}
                          </td>
                          <td>
                              {{ elem.1 }}
                          </td>
                          <td>
                              {{ elem.2 }}
                          </td>
                          <td>
                              {{ elem.3 }}
                          </td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
    </div>
    <div class="machineCode col-md-12">
        <h2>Converted Machine Code</h2>
        <div class="table-responsive">
          <table class='table table-bordered'>
              <thead>
                  <tr>
                      <th>
                          Location
                      </th>
                      <th>
                          Machine Code
                      </th>
                  </tr>
              </thead>
              <tbody>
                  {% for location, code_line in machine_code.iteritems %}
                      <tr>
                          <td class='location'>
                              {{ location }}
                          </td>
                          <td class='codeLine'>
                              {{ code_line }}
                          </td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
    </div>
{% else %}
    <h1 class='error'>no output</h1>
{% endif %}
