{% extends "assembler/base.html" %}
{% load staticfiles %}

{% block link %}
<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'css/upload.css' %}">
<script src="{% static 'js/jquery.form.min.js' %}"></script>
{% endblock %}

{% block content %}

<div class="upload-form col-md-12">
    <form id='post-form' class="" action=""  enctype="multipart/form-data" method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class='text-center'>
            <label id='fileChoose'>
                <span>Select a file...</span>
                {{ form.uploaded_file }}
            </label>
            <button class="submit" type="submit" name="submit">Submit</button>
          </div>
    </form>
</div>

<div class="sample col-md-12">
    <button id="test1">Sample Code 1</button>
    <button id="test2">Sample Code 2</button>
    <button id="test3">Sample Code 3</button>
</div>

<div class="output col-md-12 text-center"></div>

<script type="text/javascript" src="{% static 'js/upload_script.js' %}"></script>
{% endblock %}
