{% extends "assembler/base.html" %}
{% load staticfiles %}

{% block link %}
<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'css/upload.css' %}">
<script src="{% static 'js/jquery.form.min.js' %}"></script>
{% endblock %}

{% block content %}

<div class="upload-form col-md-12">
    <form id='post-form' class="" action=""  enctype="multipart/form-data" method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class='text-center'>
            <label id='fileChoose'>
                <span>Select a file...</span>
                {{ form.uploaded_file }}
            </label>
            <button class="submit" type="submit" name="submit">Submit</button>
          </div>
    </form>
</div>

<div class="output col-md-12 text-center"></div>

<script type="text/javascript">
    var chosen_file = $('#id_uploaded_file').get(0).files.length
    var errorOccured = $('#error').length

    $(document).ready(function() {
        if (!chosen_file && errorOccured) {
            $('#error').css('display', 'none')
        }

        var bar = $('.bar');
        var percent = $('.percent');
        var status = $('#status');

        var options = {
            target: ".output",
        }

        $('#post-form').submit(function(event) {
            event.preventDefault()

            $(this).ajaxSubmit(options)
        })

        $('#id_uploaded_file').change(function() {
            var path = $('#id_uploaded_file').val()

            if (path && (path.indexOf('\\') !== -1 || path.indexOf('/') !== -1)) {
                path = path.split('\\')
                $('#fileChoose > span').html(path[2])
            }
            else if (path) {
                $('#fileChoose > span').html(path)
            }
            else {
                $('#fileChoose > span').html('Select a file...')
            }
        })
    });
</script>
{% endblock %}
